/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

/* Général */

*{
    margin: 0;
}

:root{
    --notosans: "Noto Sans", sans-serif;
    --gloriapolice: "Gloria Hallelujah", cursive;
    --orangefoncé: #CC3900;
    --rose: #FBBBCD;
    --grisclair: #F7F7F7;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-family: var(--notosans);
}

a:hover{
    color: var(--orangefoncé);
    transition: all 0.3s ease-in-out;
}

h2,
h3{
    font-family: var(--gloriapolice);
}

h2{
    font-size: 45px;
    margin-bottom: 20px;
}

p{
    font-family: var(--notosans);
    font-size: 18px;
}

/* Header */

header{
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    max-width: 1150px;
    justify-content: space-between;
    align-items: center;
}

header a img{
    width: 103px;
}

header nav ul{
    display: flex;
    gap: 20px;
}

header #Accueil{
    color: var(--orangefoncé);
}

header div i{
    color: var(--orangefoncé);
}

header #burger_menu{
    display: none;
}

/* Main */

/* Section 1 */

main .section1 div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 40px auto;
    max-width: 1150px;
    gap: 150px;
    align-items: center;
}

main .section1 div .Bienvenue{
    display: flex;
    gap: 10px;
    margin: auto;
}

main .section1 div .Bienvenue #Bienvenue{
    color: var(--orangefoncé);
    text-transform: uppercase;
    font-size: 16px;
}

main .section1 div .Bienvenue span hr{
    border-color: var(--orangefoncé);
    border: 1px solid var(--orangefoncé);
    width: 30px;
    margin-bottom: 20px;
}

main .section1 div h3{
    font-size: 23px;
    margin-bottom: 20px;
}

main .section1 div p{
    font-size: 16px;
    margin-bottom: 20px;
}

main .section1 div a{
    border: 1px solid var(--rose);
    padding: 10px 15px;
}

main .section1 div a:hover{
    color: pink;
    transition: all 0.3s ease-in-out;
}

main .section1 div #img img{
    width: 350px;
}

main .section1 div #Background{
    background-image: url(../img/imagedefond.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 550px;
}

/* Section 2 */

main .section2 .div2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px auto;
    max-width: 1440px;
    gap: 10px;
}

main .section2 .div2 .droite{
    background-color: var(--rose);
    padding: 40px;
}

main .section2 .div2 .droite p{
    margin-bottom: 15px;
}

main .section2 .div2 .gauche .haut{
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}

main .section2 .div2 .gauche{
    font-size: 16px;
    text-decoration: underline;
}

main .section2 .div2 .gauche .haut #haut{
    width: 154px;
    height: 266px;
}

main .section2 .div2 .gauche .bas #bas{
    width: 313px;
    height: 263px;
}

main .section2 .div2 .gauche .bas{
    display: flex;
    gap: 5px;
}

/* Section 3 */

main .section3{
    margin: 20px auto;
    max-width: 1150px;
}

main .section3 .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .section3 .title a{
    border: 1px solid var(--rose);
    padding: 10px 15px;
}

main .section3 .tableaux{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

main .section3 .tableaux img{
    width: 280px;
    height: 260px;
}

main .section3 .tableaux h3,
main .section3 .tableaux p{
    text-align: center;
}

/* Section 4 */

main .section4{
    max-width: 1440px;
    margin: 30px auto;
    background-color: var(--grisclair);
    height: 1000px;
}

main .section4 h2{
    text-align: center;
}

main .section4 .grandediv{
    max-width: 1150px;
    margin: auto;
}

main .section4 .grandediv .petitediv{
    display: flex;
    gap: 15px;
    margin-bottom: 40px;
}

main .section4 .grandediv .petitediv h3{
    text-align: center;
}

main .section4 .grandediv .petitediv p{
    margin-bottom: 15px;
}

main .section4 .grandediv .petitediv img{
    width: 370px;
    height: 220px;
}

main .section4 .grandediv .petitediv .btn{
    display: flex;
    justify-content: space-between;
}

main .section4 .grandediv .petitediv .btn a{
    border: 1px solid var(--rose);
    padding: 10px 15px;
}

main .section4 .grandediv .petitediv .btn i{
    color: var(--orangefoncé);
}

/* Section 5 */

main .section5{
    margin: 20px auto;
    max-width: 1150px;
    margin-bottom: 40px;
}

main .section5 .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .section5 .title a{
    border: 1px solid var(--rose);
    padding: 10px 15px;
}

main .section5 .actu{
    display: flex;
    gap: 15px;
}

main .section5 .actu img{
    width: 350px;
    height: 350px;
}

main .section5 .actu #date{
    font-size: 14px;
}

main .section5 .actu p{
    margin-bottom: 40px;
}

main .section5 .actu h3{
    margin-bottom: 15px;
}

main .section5 .actu a{
    border: 1px solid var(--rose);
    padding: 10px 15px;
}

/* Section 6 */

main .section6{
    margin: 20px auto;
    max-width: 1440px;
    height: 600px;
    display: flex;
    background-color: var(--orangefoncé);
}

main .section6 div{
    margin: auto;
    max-width: 720px;
    text-align: center;
}

main .section6 div h2,
main .section6 div p{
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

main .section6 div p{
    margin-bottom: 50px;
}

main .section6 div a{
    border: 1px solid white;
    padding: 10px 15px;
    color: white;
}

/* Footer */

footer{
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    max-width: 1150px;
    justify-content: space-between;
    align-items: center;
}

footer a img{
    width: 103px;
}

footer div i{
    color: var(--orangefoncé);
}

footer .nav nav ul{
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

footer .nav{
    display: inline
}

footer .nav #artcopy{
    text-align: center;
}

footer .nav #Accueil{
    color: var(--orangefoncé);
}

@media screen and (max-width: 1024px){
    header{
        padding: 0 15px;
    }

    h2{
        font-size: 32px;
    }

    header nav ul{
        display: none;
    }

    header #burger_menu{
        display: flex;
    }

    header div{
        display: none;
    }

    main{
        padding: 0 15px;
    }

    main .section1{
        display: flex;
    }

    main .section1 div{
        display: inline;
    }

    main .section1 div #Background{
        margin-top: 30px;
    }

    main .section2{
        display: flex;
    }

    main .section2 .div2{
        display: inline;
    }

    main .section2 .div2 .gauche{
        margin-top: 30px;
    }

    main .section3 .tableaux{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    main .section4{
        height: 1100px;
    }

    main .section4 .grandediv .petitediv{
        display: inline;
        text-align: center;
    }

    main .section4 .grandediv{
        display: flex;
        gap: 15px;
        padding: 0 15px;
    }

    main .section4 .grandediv .petitediv img{
        width: 185px;
        height: 110px;
        margin-top: 30px;
    }

    main .section5 .actu{
        display: inline;
        text-align: center;
    }

    main .section5 .actu img{
        margin-top: 20px;
    }

    footer{
        padding: 0 15px;
    }

    footer .nav #artnav{
        display: none;
    }
}

@media screen and (max-width: 767px){
    header{
        padding: 0 15px;
    }

    h2{
        font-size: 24px;
    }

    h3{
        font-size: 18px;
    }

    p{
        font-size: 11px;
    }

    header nav ul{
        display: none;
    }

    header #burger_menu{
        display: flex;
    }

    header div{
        display: none;
    }

    main{
        padding: 0 15px;
    }

    main .section1 div #img img{
    width: 200px;
    }

    main .section1 div #Background{
    background-size: 300px;
    }

    main .section2 .div2 .gauche .haut #haut{
    width: 68px;
    height: 118px;
    }

    main .section2 .div2 .gauche .bas #bas{
    width: 142.5px;
    height: 119.5px;
    }

    main .section3 .title{
        display: inline;
    }

    main .section4 h2{
        margin: 0;
    }

    main .section3 .tableaux{
        display: inline;
    }

    main .section3 .tableaux img{
        margin-top: 20px;
    }

    main .section4{
        height: 1750px;
    }

    main .section4 .grandediv{
        display: inline;
    }

    main .section5 .title{
        display: inline;
    }

    main .section5 .title h2{
        font-size: 20px;
    }

    main .section5 .actu img{
    width: 250px;
    height: 250px;
    }

    footer{
        padding: 0 15px;
    }

    footer a{
        display: none;
    }

    footer .nav #artnav nav{
        display: none;
    }
}